body {
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  outline: none;
}

.box__title {
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

.box {
  background-color: white;
  border-radius: 10px;
  height: 70px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: monospace;
  outline: none;

  &__input {
    font-size: 18px;
    border-style:none;
    width: 60%;
    height: 50px;
    text-align: center;
    font-family: monospace;
  }
  &__button {
    background-color: #8c8a4a;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px;
    width: 20%;
    height: 50px;
    font-family: monospace;
    font-size: 15px;
    text-align: center;

    &:hover {
      cursor: pointer;
      background-color: #414022;
    }
  }
}

.box-answer {
  background-color: white;
  margin-top: 30px;
  width: 500px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  &__output {
    font-size: 100px;
    color: black;
    text-align: center;
    font-family: monospace;
  }
}
